@import '../../assets/css/global.less';
@import '../../assets/css/common.less';

.ant-layout-sider {
  background: #fff;
}
.menu {
  width: 220px;
  // height: 600px;
  // background: white;
  // box-shadow: inset -1px 0 0 0 rgb(0,0,0);
  z-index:999;
  zoom: 1;
  .ant-menu {
    // background: #606c88;
    background: #202d40;
    color: #fff;
    .ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
      color: #f5f5f5;
    }
    .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
      color: #fff;
    }
    .ant-menu-item:active, .ant-menu-submenu-title:active {
      background: rgba(96,108,128,.38);
    }
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: rgba(96,108,128,.38);
  }
  .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
    border-right: 5px solid #fff;
  }
  .ant-menu-item > a {
    color: #fff;
  }
  .ant-menu-dark {
    background: @iBlack;
  }
  .ant-menu-light,
  .ant-menu-vertical {
    height: calc(100vh - 64px);
  }
  .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: @iBlackRgba;
  }
  .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background: @AshColor;
  }
  .ant-btn-primary {
    margin-top: 70px;
    position: absolute;
    left: 260px;
    top: 0;
    margin-top: 14px;
    background: transparent;
    outline: none;
    color: @iBlack;
    border-color: @iBlack;
    height: 28px;
    i {
      font-size: 18px;
      vertical-align: -0.395em;
    }
  }
  .ant-menu-inline > .ant-menu-item {
    height: 42px;
    line-height: 42px;
  }
  .ant-menu-sub .ant-menu-item{
    padding-left: 76px!important;
    margin: 10px 0;
  }
  .ant-menu-item, 
  .ant-menu-submenu-title {
    margin: 12px 0;
    i {
      font-size: 20px;
      color: #fff;
      padding-right: 30px;
      display: inline-block;
      vertical-align: -0.125em;
    }
    
    .ant-menu-submenu-arrow {
      :hover {
        color: #f5f5f5;
      }
    }
    :hover {
      color: #f5f5f5;
    }
  }
  

  &_header {
    // width: 240px;
    height: 70px;
    display: inline-block;
    .container {
      width: 200px;
      height: 70px;
      line-height: 70px;
      margin: 0 auto;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}