.table {
  padding: 28px 38px 38px 278px;
  .title {
    h2 {
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 10px;
    }
  }
  .ant-table-pagination.ant-pagination {
    display: none;
  }
  .total,
  .page {
    margin: 20px 0;
    float: right;
  }
  .total {
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
  }
}