@import '../../assets/css/common.less';
.header {
  width: 60%;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 80px 0 240px;
  background: #fff;
  box-shadow: 0 1px #dadfe6;
  // z-index: -1;
 .container {
   height: 100%;
  .user {
    float: right;
    height: 60px;
    line-height: 60px;
    .info {
      height: 100%;
      display: inline-block;
      a {
        font-size: 14px;
        color: @iBlack;
      }
    }
    .message, .skin {
      display: inline-block;
      margin-left: 20px;
      height: 100%;
      i {
        font-size: 20px;
        color: @iBlack;
      }
    }
  }
 }
}
.footer {
  position: absolute;
  bottom: 80px;
  p {
    color: @AshColor;
    font-size: 14px;
    text-align: center;
    span {
      a {
        color: @iBlue;
        padding: 0 4px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}