.edit {
  transition: all ease 400ms;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
  }
  &_right {
    margin-right: 0;
  }
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
  img {
    width: 110px;
    height: 110px;
  }
}
.addProduct {
  width: 600px;
  .title {
    h3 {
      font-size: 18px;
      font-weight: 600;
      padding: 20px 0 10px 28px;
    }
  }
  .btn {
    width: 100%;
    text-align: center;
  }
  .ant-btn {
    padding: 0px 48px;
    margin: 10px 28px 0;
  }
  .ant-form-item-label {
    text-align: left;
  }
  .ant-form {
    padding: 0 28px 0;
  }
  
  .ant-form-item label {
    display: inline-block;
  }
  .ant-col {
    display: inline-block;
  }
  .ant-form-text {
    // height: 30px;
    // background: #ccc;
  }
}
